<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page HTML du Projet</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Les Fonctions, c'est trop GENIAL</h1>
    </div>

    <form action="/" method="get">
        <fieldset>
            <legend>Equation de la fonction :</legend>
            <label><input type="radio" name="choix" value="x²" checked> x²</label>
            <label><input type="radio" name="choix" value="racine carrée de x"> racine carrée de x</label>    
            <label><input type="radio" name="choix" value="sin(x)"> sin(x)</label>
            <label><input type="radio" name="choix" value="cos(x)"> cos(x)</label>   
            <label><input type="radio" name="choix" value="x"> x</label>
        </fieldset>
        <input type="submit" value="Envoyer" id="bouton">
    </form>
</body>
</html>

</html>
